build/
packages/
test/packages
test/out
test/assets/packages
node_modules/
change_detection/out
change_detection/packages
change_detection/test/out
change_detection/test/packages

# Or the files created by dart2js.
*.dart.js
*.dart.precompiled.js
*.js_
*.js.deps
*.js.map

# Include when developing application packages.

.idea
